<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="/estilos.css">
</head>
<body>
    <table>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Acciones</th>
        </tr>
        <tr>
            <% users.forEach( user => {%>
                <td><%= user.id %></td>
                <td><%= user.name %></td>
                <td><%= user.email %></td>
                <td>
                    <a href="/edit/<%= user.id %>">Editar</a>
                    <a href="/delete/<%= user.id %>">Eliminar</a>
                    
                </td>
        </tr>
       <% }); %>
    </table>
    <br>
    <!--Agregar la lista-->
    

    <form action="/add" method="post">
        <h2>Registro</h2>
        <div class="coolinput">
            <label for="name" class="text">Nombre</label>
            <input type="text" name="name" id="name" maxlength="45" required placeholder="Ingresa tu nombre: " class="input">
        
        <br>
            <label for="email" class="text">Correo: </label>
            <input type="email" name="email" id="email" maxlength="45" required placeholder="Ingresa tu correo: " class="input">
        </div>
        
        <br><br>
        <button type="submit" class="btn">Registro</button>
    </form>
</body>
</html>